body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}
.container {
  display: grid;
  min-height: 100vh;
  box-sizing: border-box;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 18% 1fr;
  grid-template-areas:
    "dashboard header "
    "dashboard main ";
}

.dashboard {
  display: grid;
  grid-area: dashboard;
  grid-template-rows: 10% 35% 1fr;
  background-color: #1892d4;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 1rem;
}

.title-dashboard {
  display: flex;
  align-items: center;
}

.container-list {
  font-size: 1.1rem;
  font-weight: bold;
}

.first-list li {
  margin-bottom: 0.5rem;
}

.second-list {
  margin-top: 3.5rem;
}
.second-list li {
  margin-bottom: 0.5rem;
}

.first-list .home {
  list-style-image: url(/Icons/home-variant.svg);
}

.first-list .profile {
  list-style-image: url(/Icons/account.svg);
}

.first-list .messages {
  list-style-image: url(/Icons/message-reply-outline.svg);
}

.first-list .history {
  list-style-image: url(/Icons/clock-time-three-outline.svg);
}

.first-list .task {
  list-style-image: url(/Icons/note-multiple-outline.svg);
}

.first-list .communities {
  list-style-image: url(/Icons/account-group-outline.svg);
}

.second-list .setting {
  list-style-image: url(/Icons/cog-outline.svg);
}

.second-list .support {
  list-style-image: url(/Icons/face-agent.svg);
}

.second-list .privacy {
  list-style-image: url(/Icons/shield-check-outline.svg);
}

.title-dashboard img {
  width: 2rem;
}

.header {
  display: grid;
  background-color: #ffffff;
  grid-area: header;
  grid-template-rows: 35% 1fr;
}

.first-header {
  display: flex;
  display: grid;
  grid-template-columns: 70% 1fr;
}

#search-header {
  background-color: #e2e8f0;
  height: 1.5rem;
  border-radius: 1rem;
  border: transparent;
}

.items-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.items-left input {
  width: 70%;
}

.items-right {
  display: grid;
  display: flex;
  grid-column: 30% 30% 40%;
  gap: 1.2rem;
  align-items: center;
}

.items-right .img-profile {
  min-width: 30px;
  max-width: 30px;
}

.items-right .name-profile {
  font-weight: bold;
  font-size: 1.1rem;
}

.sub-header {
  display: grid;
  align-items: center;
  grid-template-columns: 60% 1fr;
}

.sub-header .sub-buttons button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #1892d4;
  height: 2.5rem;
  width: 6rem;
  border-radius: 1rem;
  border: transparent;
}

.data-user {
  display: flex;
  align-items: center;
  padding-left: 6rem;
  font-weight: bold;
  gap: 0.8rem;
}

.data-user p {
  margin-bottom: 3px;
}
.data-user h3 {
  margin-top: 0px;
}

.data-user .subheader-img {
  width: 70px;
  height: 70px;
}

.sub-buttons {
  display: flex;
  gap: 1rem;
}

.main {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 30%;
  background-color: #e2e8f0;
}

.main h4 {
  margin: 0;
}

.main p {
  margin: 0;
  color: #636363;
}

.main .container-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6% 1fr 1fr 1fr 5%;
  padding-left: 1rem;
  gap: 1rem;
}

.card {
  border: 1px solid black;
  border-radius: 1rem;
  max-height: 85%;
  max-width: 70%;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: transparent;
}

.card .card-body {
  margin: 0;
  font-size: 0.9rem;
}

.card .icons-card {
  text-align: end;
}

.card .icons-card img {
  height: 1.4rem;
}

.container-right {
  display: grid;

  grid-template-rows: 8% 1fr 6% 1fr 5%;
}
.container-right .card-body {
  font-size: 0.75rem;
  padding-bottom: 0.8rem;
}

.container-right .first-card {
  height: 16rem;
}

.container-right .first-card .body-border {
  border-bottom: 1px solid #e2e8f0;
}

.container-right .second-card {
  height: 14.1rem;
}

.container-right .users-trending {
  display: flex;
  font-size: 0.7rem;
  gap: 1rem;
}
.container-right .second-card img {
  height: 2.1rem;
  width: 2.1rem;
}

.second-card .data-users h3 {
  margin: 0;
}
.second-card .data-users p {
  margin: 0;
}

.box-shadow {
  -webkit-box-shadow: 1px 4px 8px -2px rgba(0, 0, 0, 0.83);
  box-shadow: 1px 4px 8px -2px rgba(0, 0, 0, 0.83);
}

.shadow-header {
  position: relative;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.26);
}
