body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}
.container {
  display: grid;
  min-height: 100vh;
  box-sizing: border-box;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 25% 1fr;
  grid-template-areas:
    "dashboard header "
    "dashboard main ";
}

.dashboard {
  display: grid;
  grid-area: dashboard;
  grid-template-rows: 10% 35% 1fr;
  background-color: #9333ea;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 1rem;
}

.title-dashboard {
  display: flex;
  align-items: center;
}

.container-list {
  font-size: 1.1rem;
  font-weight: bold;
}

.first-list li {
  margin-bottom: 0.5rem;
}

.second-list {
  margin-top: 3.5rem;
}
.second-list li {
  margin-bottom: 0.5rem;
}

.first-list .home {
  list-style-image: url(/Icons/home-variant.svg);
}

.first-list .profile {
  list-style-image: url(/Icons/account.svg);
}

.first-list .messages {
  list-style-image: url(/Icons/message-reply-outline.svg);
}

.first-list .history {
  list-style-image: url(/Icons/clock-time-three-outline.svg);
}

.first-list .task {
  list-style-image: url(/Icons/note-multiple-outline.svg);
}

.first-list .communities {
  list-style-image: url(/Icons/account-group-outline.svg);
}

.second-list .setting {
  list-style-image: url(/Icons/cog-outline.svg);
}

.second-list .support {
  list-style-image: url(/Icons/face-agent.svg);
}

.second-list .privacy {
  list-style-image: url(/Icons/shield-check-outline.svg);
}

.title-dashboard img {
  width: 2rem;
}

.header {
  display: grid;
  border: 1px solid black;
  grid-area: header;
  grid-template-rows: 35% 1fr;
}

.first-header {
  display: flex;
  display: grid;
  grid-template-columns: 70% 1fr;
  justify-content: space-between;
}

.items-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.items-left input {
  width: 70%;
}

.items-right {
  display: grid;
  display: flex;
  grid-column: 1fr 1fr 1fr;
  gap: 1rem;
  width: 30%;
  align-items: center;
}
.sub-header {
  display: grid;
  align-items: center;
  grid-template-columns: 60% 1fr;
}

.data-user {
  display: flex;
}

.sub-buttons {
  display: flex;
  gap: 1rem;
}

.main {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 25%;
  border: 1px solid black;
}

.container-left {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.container-right {
  border: 1px solid black;
}
